body {
    font-family: Roboto, sans-serif, 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.info-section,
.quote-section,
.call-to-action,
.footer {
    flex: 1;
    height: 1000px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 160px;
    margin-bottom: 120px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.header-contents {
    display: flex;
    gap: 48px;
}

.left-content,
.image-container {
    flex: 1;
}

/* .image-container {
    width: 300px;
}

img {
    width: 100%;
} */

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 180px;
    margin-top: 24px;
}

.info-heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info-body {
    display: flex;
    gap: 52px;
}

.info-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.rounded-box-image {
    border-radius: 25px;
    height: 200px;
    width: 200px;
    padding: 0;
    border: 5px solid #3882F6;
    margin-bottom: 10px;
}

.info-text {
    color: #1F2937;
    font-size: 18px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0px;
}

.quote-container {
    display: flex;
    width: 945px;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    display: flex;
    justify-content: end;
    font-weight: 800;
    font-size: 20px;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0px;
}

.call-to-action-container {
    background: #3882F6;
    height: 100px;
    width: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 200px;
    gap: 200px;
}

.call-to-action-heading,
.call-to-action-subtext {
    color: #F9FAF8;
}

.call-to-action-heading {
    font-weight: 900;
    font-size: 19px;
    border-radius: 5px;
}

.call-to-action-button {
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    height: 200px;
    padding: 52px 0px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
}